# Built application files
*.apk
*.aar
*.ap_
*.aab

# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
*.iml
.idea/
.DS_Store

# Kotlin
*.kotlin_module

# Keystore
*.jks
*.keystore
